{{>header}}

<h1>weather</h1>

<form action="" id="form">
    <input type="text" name="" id="input-address">
    <button id="search-button">search</button>
</form>

<div id="render"></div>
<div id="render1"></div>